<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.mysqlshell"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application 
		android:name=".ShellApplication"
		android:label="@string/app_name" 
		android:icon="@drawable/ic_launcher_mysqlshell">
    
        <!--android:theme="@style/Theme.Transparent"-->
    
        <activity android:name="ShellActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ShellPreferenceActivity"
			android:label="@string/pref_title">
			<intent-filter>
				<action android:name="com.example.intent.action.ShellPreferenceActivity" />
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
        </activity>
        
        <activity android:name=".ConnectedActivity"
			android:label="@string/connected_title">
			<intent-filter>
				<action android:name="com.example.intent.action.ConnectedActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity android:name=".ListConnectionsActivity"
			android:label="@string/connections_list">
			<intent-filter>
				<action android:name="com.example.intent.action.ListConnectionsActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity android:name=".ListQueriesActivity"
			android:label="@string/cap_query_list">
			<intent-filter>
				<action android:name="com.example.intent.action.ListQueriesActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity android:name=".TaskManagerActivity"
			android:label="@string/cap_taskman">
			<intent-filter>
				<action android:name="com.example.intent.action.TaskManagerActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity android:name=".TaskViewActivity"
			android:label="@string/cap_taskman">
			<intent-filter>
				<action android:name="com.example.intent.action.TaskViewActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity android:name=".SqlResultSheetActivity"
			android:label="@string/cap_results">
			<intent-filter>
				<action android:name="com.example.intent.action.SqlResultSheetActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <activity android:name=".ChooseDatabaseActivity"
			android:label="@string/cap_choose_db">
			<intent-filter>
				<action android:name="com.example.intent.action.ChooseDatabaseActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

		<activity android:name=".AboutActivity"
			android:label="@string/cap_info">
			<intent-filter>
				<action android:name="com.example.intent.action.AboutActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

		<activity android:name=".TestConnectionActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="com.example.intent.action.TestConnectionActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

		<activity android:name=".RunQueryActivity"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="com.example.intent.action.RunQueryActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

		<activity android:name=".ShowTablesActivity">
			<intent-filter>
				<action android:name="com.example.intent.action.ShowTablesActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

		<activity android:name=".ShowTableActivity">
			<intent-filter>
				<action android:name="com.example.intent.action.ShowTableActivity" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

        <!-- External activities -->

        <activity android:name="android.widget.filedialog.FileDialog"
			android:label="@string/location">
			<intent-filter>
				<action android:name="android.widget.filedialog.intent.action.FileDialog" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

        <!-- Content Providers -->
        
		<provider android:name=".provider.ConnectionsBook" 
			android:authorities="com.example.mysqlshell.provider.ConnectionsBook"
			android:exported="true" />

		<provider android:name=".provider.QueryBook" 
			android:authorities="com.example.mysqlshell.provider.QueryBook"
			android:exported="true" />

        <!-- Services -->



    </application>
</manifest> 
